extends base

block content
  p Ahoj #{firstName},
  p Zabudol si svoje heslo? Žiaden strach, môžeš si ho obnoviť kliknutím na tlačidlo nižšie.
  table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation' border='0' cellpadding='0' cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}` target='_blank') Obnoviť heslo
  p Ak si nezabudol svoje heslo alebo si sa nezaregistroval do nášho nástroja, môžeš tento e-mail pokojne ignorovať.
  p Veľa šťastia!
  p EstiMate