extends base

block content
  p Ahoj #{firstName},
  p Svoj e-mail môžeš potvrdiť kliknutím na tlačidlo nižšie.
  table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation' border='0' cellpadding='0' cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}` target='_blank') Potvrdiť E-mail
  p Ak si sa nezaregistroval do našej aplikácie, tento e-mail môžeš ignorovať.
  p S Pozdravom!